@model List<string>

<div class="container mt-4">
    <div class="card p-4">
        <div>
            <h2>Container List</h2>
        </div>
        <div class="mt-2">
            <a asp-action="Create" class="btn btn-success"><i class="fas fa-plus"></i> Create New</a>
        </div>

        <hr />

        @if (Model.Count() > 0)
        {
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead class="thead-light">
                        <tr>
                            <th>Container Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(m => item)
                                </td>
                                <td>
                                    <a class="btn btn-primary" asp-action="Index" asp-controller="Blob" asp-route-containerName="@item">
                                        <i class="fas fa-cogs"></i> Manage
                                    </a>

                                    <a class="btn btn-danger" asp-action="Delete" asp-route-containerName="@item">
                                        <i class="fas fa-trash"></i> Delete
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <p class="text-muted">No container exists...</p>
        }
    </div>
</div>
